<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogify</title>
    <%- include('./partials/head') %>
    <%- include('./partials/style') %>
</head>

<body>
    <%- include('./partials/navbar') %>

        <div class="container mt-4">

            <div>
                <% if (locals.err) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= err%>
                    </div>
                    <% } %>
            </div>

            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text" style="color: white;">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" style="background: #a55233; color: white;" class="btn">Submit</button>
            </form>
        </div>
        <%- include('./partials/script') %>
</body>

</html>